{
	admin 127.0.0.1:2020
}

bmiddleton.dev, www.bmiddleton.dev {
	reverse_proxy 127.0.0.1:8000
}

api.bmiddleton.dev {
	reverse_proxy 127.0.0.1:8000
}

remote.bmiddleton.dev {
	forward_auth 127.0.0.1:8000 {
		uri /services/pc/auth-forward/
	}

	reverse_proxy 127.0.0.1:6022
}
